.login-container {
  padding: 30px;
  border: 1px solid green;
  border-radius: 14px;
  width: 600px;
  margin: auto;
  height: 255px;
  display: flex;
  gap: 49px;
}

.login-fields {
  display: flex;
  flex-direction: column;
  gap: 11px;
  width: 300px;
}

.userName {
  padding: 6px;
  border-radius: 22px;
  border: 1px solid black;
}
